*{
 margin: 0;
 padding: 0;
 font-family:'Roboto', sans-serif;;
}

body {
 background: #ecedf2;
 color: #222;
}

.main-nav ul{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 padding: 10px 40px 10px 40px;
 background: #D71A1A;
 color: #222;
 list-style: none;
}

.main-nav img {
 max-width: 100%;
 height: 5rem;
}



.main-nav li a {
 display: block;
 text-transform: uppercase;
 color: #222;
 text-decoration: none;
 font-size: 1rem;
 font-weight: bold;
 font-family: 'Forum';
}







footer {
 display: block;
 flex-direction: column;
 margin-top: 36rem; /*tirar */
 justify-content: center;
 align-items: center;
 margin-bottom: 0;
}

.rodape {
 display: flex;
 flex-direction: row;
 background: #D71A1A;
 padding: 10px;
 justify-content: space-between;
 align-items: center;
}
.logo-rodape img {
 height: 3.5rem;
}

.icones-rodape img {
 height: 1.5rem;
}

.icones-rodape ul {
 list-style: none;
}

.icones-rodape li {
 display: inline-block;
 margin-left: 15px;
}

.copy p {
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: .9rem;
}